.download-icon{
  width:15px;
  height:15px;
}

.download-btn{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:8px;
  margin:15px auto;
  padding:8px 16px;
  border:none;
  border-radius:999px;
  background:#91d3ca;
  color:#102522;
  font-size:14px;
  font-weight:800;
  letter-spacing:.3px;
  cursor:pointer;
  box-shadow:
  0 8px 20px rgba(145,211,202,.25);
  transition:.25s ease;
}

.download-btn:hover{
  transform:translateY(-2px);
  box-shadow:
  0 12px 25px rgba(145,211,202,.35);
}

/* AREA GAMBAR DOWNLOAD */
#download-schedule{
  position:fixed;
  left:0;
  top:0;
  opacity:0;
  pointer-events:none;
  width:390px;
  padding:25px 22px;
  background:#101616;
  color:white;
  border-radius:24px;
  font-family:Inter,sans-serif;
}


/* HEADER */
.download-header{
  text-align:center;
  margin-bottom:25px;
}

.download-header h2{
  margin:0;
  font-size:24px;
  font-weight:900;
  letter-spacing:.8px;
}


#download-month{
  margin-top:8px;
  color:#91d3ca;
  font-size:15px;
  font-weight:800;
}


/* LIST */
#download-content{
  margin-top:10px;
}


/* ITEM EVENT */
.download-item{
  display:flex;
  align-items:center;
  padding:12px 0;
  border-bottom:
  1px solid rgba(255,255,255,.1);
}


/* TANGGAL */
.download-date{
  width:55px;
  font-size:14px;
  font-weight:900;
  color:#91d3ca;
}


/* INFO */
.download-time{
  width:55px;
  font-size:14px;
  font-weight:800;
}


.download-title{
  flex:1;
  font-size:14px;
  font-weight:700;
}


/* FOOTER */
.download-footer{
  margin-top:25px;
  padding-top:15px;
  border-top:
  1px solid rgba(255,255,255,.12);
  text-align:center;
  font-size:12px;
  opacity:.6;
}

/* FLOATING DOWNLOAD */

.download-fab{
  position:fixed;
  right:18px;
  bottom:90px; /* di atas bottom nav */

  width:56px;
  height:56px;

  display:flex;
  align-items:center;
  justify-content:center;

  border:none;
  border-radius:50%;

  background:#91d3ca;
  color:#102522;

  font-size:24px;
  cursor:pointer;

  box-shadow:0 10px 25px rgba(0,0,0,.18);

  z-index:9998;

  transition:.25s ease;
}

.download-fab:active{
  transform:scale(.95);
}

.download-fab:hover{
  transform:translateY(-2px);
}


/* HINT */

.download-hint{
  position:fixed;

  right:86px;
  bottom:98px;

  background:#fff;
  color:#102522;

  padding:10px 14px;

  border-radius:999px;

  font-size:13px;
  font-weight:700;

  box-shadow:0 8px 22px rgba(0,0,0,.12);

  opacity:0;
  transform:translateX(20px);

  transition:.35s ease;

  z-index:9998;

  pointer-events:none;
}

.download-hint.show{
  opacity:1;
  transform:translateX(0);
}

/* panah bubble */
.download-hint::after{
  content:"";
  position:absolute;

  right:-6px;
  top:50%;

  width:12px;
  height:12px;

  background:#fff;

  transform:translateY(-50%) rotate(45deg);
}

.download-fab svg{
  width:26px;
  height:26px;
  display:block;
}

.download-fab svg path{
  stroke:#102522;
  stroke-width:2.2;
  stroke-linecap:round;
  stroke-linejoin:round;
  fill:none;
}