/* ================= PLAYLIST ================= */

.home-dsc{
  margin-top:24px;
  width:100%;
  padding:0;     /* pastiin gak ada beda */
}

/* TOP */
.home-subtitle{
  display:flex;
  gap:4px;
  width:fit-content;
  justify-content:space-between;
  align-items:center;
  margin-bottom:12px;
  padding:0;
  text-decoration:none;
  color:#1f3f3a;
}

.home-subtitle h2{
font-size:16px;
font-weight:700;
color:#1f3f3a;
margin:0;
}

.arrow-icon{
  width:11px;
  height:11px;
  display:block;
  transition:transform .2s ease;
}

.home-subtitle:hover .arrow-icon{
  transform:translateX(2px);
}

/* SCROLL */
.home-scroll{
display:flex;
gap:8px;
overflow-x:auto;
overflow-y:hidden;
scroll-behavior:smooth;
padding-bottom:10px;
-ms-overflow-style:none;
scrollbar-width:none;
width:100%;
}

.home-scroll::-webkit-scrollbar{
display:none;
}

/* CARD */
.music-card{
  width:100%;
  position:relative;
  flex:0 0 auto;
  max-width:120px;
  text-decoration:none;
  color:white;
  overflow:hidden;
}

/* IMAGE */
.music-cover{
  width:100%;
  max-width:120px;
  height:120px;
  border-radius:10px;
  object-fit:cover;
  display:block;
}

/* TITLE */
.music-title{
margin-top:8px;
font-size:12px;
font-weight:600;
line-height:1.3;
color:#1f3f3a;
font-size:clamp(12px,2vw,13px);
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.music-sub{
margin-top:2px;
font-size:10px;
opacity:.7;
color:#5f7f79;
font-size:clamp(10px,1.8vw,11px);
}
