.upsche-card{
    display:block;
    background:#fff;
    border-radius:22px;
    padding:20px;
    text-decoration:none;
    color:inherit;
    box-shadow:
    0 8px 25px rgba(0,0,0,.07);
    transition:.25s;
}

.upsche-card:active{
    transform:scale(.98);
}


.upsche-date{
    display:flex;
    align-items:center;
    gap:8px;
}

.upsche-date .day{
    font-size:20px;
    font-weight:700;
    line-height:1;
    color:#5fc7be;
}

.upsche-date .month{
    font-size:18px;
    font-weight:700;
    color:#7b8a8a;
    line-height:1;
}

.upsche-counter{
    font-size:15px;
    font-weight:700;
    color:#b7b7b7;
}

.upsche-content{
    margin-top:8px;
}

.upsche-time{
    font-size:14px;
    color:#8a8a8a;
    margin-bottom:8px;
}

.upsche-title{
    font-size:20px;
    font-weight:700;
    color:#294746;
}

</style>