:root{
  /* Color */
  --primary:#91d3ca;
  --primary-dark:#5DB7AB;
  --background:#ffffff;
  --surface:#ffffff;
  --text:#243634;
  --text-light:#64807a;
  --ye-jp:#86b2df;
  --yllw:#fdf5c4;

  /* Radius */
  --radius-sm:8px;
  --radius-md:12px;
  --radius-lg:16px;
  --radius-xl:24px;

  /* Shadow */
  --shadow-card:0 8px 28px rgba(0,0,0,.08);

  /* Font */
  --title:20px;
  --subtitle:18px;
  --body:11px;

  /* Spacing */
  --gap:12px;
  --padding:20px;

  /* BG Gradient */
  --bg-gradient: linear-gradient(
    180deg,
    #91d3ca 0%,
    #a8ddd6 15vh,
    #dff2ef 30vh,
    #ffffff 55vh
  );

}